################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/GalleryWebSite.v12.suo
/GalleryWebSite/bin
/GalleryWebSite/obj
/GalleryWebSite/Properties
/GalleryWebSite/Trace.txt
/GalleryWebSite/Content/Trace/Trace.txt
