@{
    ViewBag.Title = "דף הבית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/CSS/index.css" />
<script src="~/Content/JS/index.js"></script>

<input id="loc" type="hidden" value="@ViewBag.location" />
<div id="container">
    <div id="contentDiv">
        <div id="mainContentDiv">
            <span class="welcomeSpan"> ברוכים הבאים</span>
            <span class="welcomeSpan">לגלריה של דניאלה!</span>
            <span class="subWelcomeSpan">גלריה זו מבטאת את המיית נפשי, ומקווה שהמיית נפש זו מהווה יצירה של צורך חדש.</span>
            <span class="subWelcomeSpan">
                מאז ומתמיד נמשכתי לאמנות, אם זה ציור, אם זו תפירה, רקמה, צורפות, ועוד ועוד.
            </span>
            <span class="subWelcomeSpan">אחד החלומות הגדולים שלי היה הויטראז'.</span>
            <span class="subWelcomeSpan"> בימים אלו אני מגשימה את החלום ויוצרת בזכוכית, את האהבות שלי, את החלומות שלי ואת מה שאני.</span>
            <span class="subWelcomeSpan"> בגלריה תוכלו למצוא יצירות ויטראז' ופסיפס מעולמות שונים כגון מעולם היודאיקה וכו'.</span>
            <span class="subWelcomeSpan">אתם מוזמנים לצפות ולהתרשם , ובאמצעות "צור קשר" להזמין יצירה או לתת משוב.</span>
            <span class="subWelcomeSpan">תהנו!</span>
        </div>
        <div id="quoteDiv">
            <span class="qouteSpan">"אמנות איננה מילוי צורך קיים, אלא יצירה של צורך חדש.</span>
            <span class="qouteSpan">העולם לא נזקק לסמפוניה החמישית של בטהובן עד שהוא יצר אותה.</span>
            <span class="qouteSpan">כעת, לא נוכל לחיות בלעדיה."</span>
            <span class="qouteNameSpan">לואיס קאן</span>
        </div>
    </div>

    <div id="imgDiv1">
        <img id="img1" src="#" />
        <img id="img4" src="#" />
    </div>
    <div id="imgDiv2">
        <img id="img3" src="#" />
        <img id="img2" src="#" />
    </div>

</div>
